<div id="<%= dom_id import_matcher %>">
  <p>
    <strong>Account:</strong>
    <%= import_matcher.account_id %>
  </p>

  <p>
    <strong>Date column:</strong>
    <%= import_matcher.date_column %>
  </p>

  <p>
    <strong>Date format:</strong>
    <%= import_matcher.date_format %>
  </p>

</div>
