<% content_for :title, "Editing import matcher" %>

<h1>Editing import matcher</h1>

<%= render "form", import_matcher: @import_matcher %>

<br>

<div>
  <%= link_to "Show this import matcher", @import_matcher %> |
  <%= link_to "Back to import matchers", import_matchers_path %>
</div>
