<% content_for :title, "New import matcher" %>

<h1>New import matcher</h1>

<%= render "form", import_matcher: @import_matcher %>

<br>

<div>
  <%= link_to "Back to import matchers", import_matchers_path %>
</div>
