<% content_for :title, "Editing import columns definition" %>

<h1>Editing import columns definition</h1>

<%= render "form", import_columns_definition: @import_columns_definition %>

<br>

<div>
  <%= link_to "Show this import columns definition", @import_columns_definition %> |
  <%= link_to "Back to import columns definitions", import_columns_definitions_path %>
</div>
