<% content_for :title, "New import columns definition" %>

<h1>New import columns definition</h1>

<%= render "form", import_columns_definition: @import_columns_definition %>

<br>

<div>
  <%= link_to "Back to import columns definitions", import_columns_definitions_path %>
</div>
