<%# filepath: /home/peter-bell/RubymineProjects/our-accounts/app/views/csv_analyses/_error.html.erb %>
<%= turbo_frame_tag "csv_results" do %>
  <div class="pure-alert pure-alert-error">
    <%= message %>
  </div>
<% end %>

