/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
@import url("purecss/build/pure.css");

nav {
    .pure-menu {
        background-color: #333; /* Dark background color */
    }

    .pure-menu .pure-menu-link {
        color: #fff; /* White text color */
    }

    .pure-menu .pure-menu-link:hover {
        color: #000; /* Light gray text color on hover */
    }
}

body div.container {
    margin-left: 2rem;
    margin-right: 2rem;
}


.form-buttons {
    margin-top: 20px; /* Add space above the buttons */
}
