<div id="<%= dom_id category %>" class="category-grid">
  <div class="pure-g">
    <div class="pure-u-1-6"><strong>Name:</strong></div>
    <div class="pure-u-1-4"><%= category.name %></div>
  </div>

  <div class="pure-g">
    <div class="pure-u-1-6"><strong>Description:</strong></div>
    <div class="pure-u-1-4"><%= category.description %></div>
  </div>

  <div class="pure-g" data-controller="dateinlocale" data-date="<%= category.created_at.iso8601 %>">
    <div class="pure-u-1-6"><strong>Created At:</strong></div>
    <div class="pure-u-1-4" data-dateinlocale-target="date"></div>
  </div>
</div>
